### Hypothesis Testing

### One Sample t-test

In [2]:
from scipy import stats
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df_housing = pd.read_csv('housing.csv')

In [4]:
df_housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

*null hypothesis* - avg.price of housing 1990 = avg.price of housing 2021 <br>
*alternative hypothesis* - avg.price of housing 1990 != avg.price of housing 2021

In [5]:
df_housing.median_house_value.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [11]:
#if p-value < 0.05 = alternative hypothesis
tstat, pval = stats.ttest_1samp(df_housing['median_house_value'], 786700)
print("p-value for sample t-test is: ", pval)

p-value for sample t-test is:  0.0

### Two Sample t-test

In [7]:
df_housing['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

*null hypothesis* - avg.price of housing NEAR OCEAN = avg.price of housing NEAR BAY <br>
*alternative hypothesis* - avg.price of housing NEAR OCEAN != avg.price of housing NEAR BAY

In [10]:
df_housing_near_ocean = df_housing[df_housing.ocean_proximity == 'NEAR OCEAN']
df_housing_near_bay = df_housing[df_housing.ocean_proximity == 'NEAR BAY']

#if p-value < 0.05 = alternative hypothesis
tstat, pval = stats.ttest_ind(df_housing_near_ocean['median_house_value'], df_housing_near_bay['median_house_value'])

print("p-value for two sample t-test is: ", pval)

p-value for two sample t-test is:  0.00518433462827199

In [12]:
df_housing_near_ocean.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1850,-124.17,41.80,16.0,2739.0,480.0,1259.0,436.0,3.7557,109400.0,NEAR OCEAN
1851,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,NEAR OCEAN
1852,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0,NEAR OCEAN
1853,-124.21,41.77,17.0,3461.0,722.0,1947.0,647.0,2.5795,68400.0,NEAR OCEAN
1854,-124.19,41.78,15.0,3140.0,714.0,1645.0,640.0,1.6654,74600.0,NEAR OCEAN

In [13]:
df_housing_near_bay.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

### chi-square Test

In [19]:
df = pd.read_csv('toy_dataset.csv')

In [20]:
df.head()

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

*null hypothesis* - there is no significant association between city and gender  <br>
*alternative hypothesis* - there is significant association between city and gender

In [23]:
contingency_table = pd.crosstab(df.City, df.Gender)
#if p-value < 0.05 = alternative hypothesis
res = stats.chi2_contingency(contingency_table)
print("p-value for Chi-square t-test is:", res.pvalue)

p-value for Chi-square t-test is: 0.5812220214510175